@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-500;
}

/* Persian Fonts */
@font-face {
  font-family: "Lalezar";
  src:
    url("/Fonts/Lalezar-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Parand";
  src:
    url("/Fonts/Mj_Parand.ttf") format("truetype");
}

@font-face {
  font-family: "Vazir";
  src:
    url("/Fonts/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: "Aban";
  src:
    url("/Fonts/Waban.ttf") format("truetype");
}

@font-face {
  font-family: "Homa";
  src:
    url("/Fonts/homa.ttf") format("truetype");
}

/* English Fonts */

@font-face {
  font-family: "Franklin";
  src:
    url("/Fonts/OPTIFranklin.otf") format("opentype");
}

@font-face {
  font-family: "scriptMtbold";
  src:
    url("/Fonts/scriptMtbold.ttf") format("truetype");
}

@font-face {
  font-family: "Centaur";
  src:
    url("/Fonts/Centaur.ttf") format("truetype");
}

@font-face {
  font-family: "TwCenMt";
  src:
    url("/Fonts/TwCenMt.ttf") format("truetype");
}

@font-face {
  font-family: "Gothic";
  src:
    url("/Fonts/Century_Gothic.ttf") format("truetype");
}


@keyframes drop-bounce {
  0% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(0);
  }
}

.drop-bounce {
  animation: drop-bounce 0.9s ease-in-out infinite;
}
